* {
    margin-right:5%;
    margin-left:5%;
  }

.Header{
    background-color:#ebebeb;
    font-size:18px;
    text-align: center;
    padding: 40px;
}

.Nav{
    background-color:#ebebeb;
    font-size: 18px;
    text-align: center;
    padding: 40px;
}