

.Header{
    background-color:#ebebeb;
    font-size:18px;
    text-align: center;
    padding: 40px;
}

.Nav{
    background-color:#ebebeb;
    font-size: 18px;
    text-align: center;
    padding: 40px;
}
.box{
    background-color: #ebebeb;
    position: relative;
    float:left;
    width: 800px;
    height:350px;
    text-align: center;
    font-size: center;
}

.section{
    margin-top: 10px;
    text-align: center;
}